/**
 * Disambiguation
 **/
.its_textAnalysis, .its_terminology {
  border-bottom: 1px dashed red;
}

/**
 * Locale
 **/
.its_locale {
  border-bottom: 1px dashed blue;
}

/**
 * LocNote
 **/
.its_locNote {
  border-bottom: 1px dashed #ffc0cb;
  color: green;
}

/**
 * TRANSLATE
 **/
.its_translate {
  border-bottom: 1px dashed #0062A0;
  color: blue;
}

/**
 * LANG
 **/

.its_lang {
  border-bottom: 1px dashed;
}

/**
 *
 **/

.its_dir {
  background-color: #ffc0cb;
}

/**
 * Language Management
 */

.download-files a {
  margin-right: 10px;
}

.download-files > div {
  text-align: right;
}

.meta-data .form-type-checkbox {
  float: left;
  margin: 0.4em;
}

.tooltip {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  color: #000000;
  display: none;
  padding: 5px;
  position: absolute;
  z-index: 3;
}

#metadata_overlay {
  position: absolute;
  top: -200px;
  left: -200px;
  background: white;
  padding: 5px 2px 2px 2px;
  border: 1px solid black;
  border-radius: 5px;
  width: 112px;
}

#metadata_overlay a {
  border: 1px solid transparent;
}

#metadata_overlay a:hover, #metadata_overlay a.active {
  background-color: #B2BBD0;
  border-color: #0A246A;
}

/**
 * Modal
 */

.its-edit-local-form input, .its-edit-local-form select, .its-edit-local-form textarea {
  margin: 0 0 5px 10px;
  width: 160px;
}

.its-edit-local-form textarea {
  height: 60px;
}

.its-edit-local-form label {
  display: inline-block;
  width: 140px;
}

label[for="edit-form-taSource"], label[for="edit-form-taIdent"], label[for="edit-form-taIdentRef"], label[for="edit-form-annotatorsRef-text-analysis"] {
  margin-left: 20px;
  width: 120px;
}
